openapi: 3.0.1
info:
  title: Bondsmith Savings Public APIs
  description: Public APIs for Bondsmith Savings
  contact:
    name: API Support
    url: https://bondsmith.co.uk/support
    email: support@bondsmith.co.uk
  version: v1
externalDocs:
  url: https://bondsmith.stoplight.io/docs/savings
servers:
- url: https://api.sandbox.b7h.io
  description: sandbox
- url: https://api.bondsmith.com
  description: production
security:
- OAuth2:
  - public-api/default
tags:
- name: Savings
- name: Customers
- name: Instructions
- name: Payment Accounts
- name: Settlement
- name: Webhooks Demo
- name: Sandbox Only
paths:
  /v1.1/customers:
    get:
      tags:
      - Customers
      summary: List all customers
      description: This operation returns a paginated list of all customers.
      operationId: ListCustomers__V1_1
      parameters:
      - name: name
        in: query
        schema:
          type: string
          description: The name of the customer to return. Does a partial search across
            full name
          nullable: true
      - name: customerIds
        in: query
        schema:
          type: array
          description: The customer ids of the customers to be returned
          nullable: true
          items:
            type: string
            description: The unique identifier of the customer
            format: uuid
      - name: verificationStatus
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CustomerStatusV1_1'
          - description: Return only customers in the specifiied verification statuses
      - name: email
        in: query
        schema:
          type: string
          description: Return customers by a specific email address
          nullable: true
      - name: externalId
        in: query
        schema:
          type: string
          description: Return customer by specifying your own reference that you provided
            in the create customer action
          nullable: true
      - name: paginatedProperty
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CustomerPaginatedProperty'
          - description: The property to sort the response by
      - name: take
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: The number of records to return for pagination
          format: int32
          nullable: true
      - name: skip
        in: query
        schema:
          minimum: 0
          type: integer
          description: The number of records to skip for pagination
          format: int32
          nullable: true
      - name: orderAscDesc
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/OrderAscDesc'
          - description: The order in which to sort the paginatedProperty by
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondsmithPage_ExternalCustomerResponseV1_1_'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Customers
      summary: Create a new customer
      description: |
        Creates a new customer. To create a customer relating to an individual, specify an `accountHolderType` of `INDIVIDUAL` and provide the "person" attribute. For a joint account, specify an `accountHolderType` of `JOINT` and provide both the "person" and "additionalPerson" attributes.
        For companies, trusts or charities, specify an accountHolderType of `COMPANY`, `CHARITY` or `TRUST`, and provide the "legalEntity" attribute. Where Bondsmith is performing the KYC, the customer will be in a PENDING state until the necessary KYC checks have been performed.
      operationId: CreateCustomer__V1_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequestV1_1'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalBatchCustomerInstructionResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/external/{externalRef}:
    get:
      tags:
      - Customers
      summary: Get a customer by an external reference
      description: "This operations returns the details of a customer, look up using\
        \ an external reference."
      operationId: GetCustomerByExternalRef__V1_1
      parameters:
      - name: externalRef
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalCustomerResponseV1_1'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/instructions:
    get:
      tags:
      - Instructions
      summary: List all instructions
      description: This operation returns a paginated list of all instructions
      operationId: ListInstructions__V1_1
      parameters:
      - name: productId
        in: query
        schema:
          type: string
          format: uuid
          nullable: true
      - name: bankId
        in: query
        schema:
          type: string
          format: uuid
          nullable: true
      - name: instructionType
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/OrderType'
      - name: instructionStatus
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/InstructionStatusV1_1'
      - name: createdFrom
        in: query
        schema:
          type: string
          format: date
          nullable: true
      - name: createdTo
        in: query
        schema:
          type: string
          format: date
          nullable: true
      - name: paginatedProperty
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/ExternalProductOrderPaginatedProperty'
      - name: take
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: The number of records to return for pagination
          format: int32
          nullable: true
      - name: skip
        in: query
        schema:
          minimum: 0
          type: integer
          description: The number of records to skip for pagination
          format: int32
          nullable: true
      - name: orderAscDesc
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/OrderAscDesc'
          - description: The order in which to sort the paginatedProperty by
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondsmithPage_ExternalInstructionResponseV1_1_'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/instructions/cash:
    get:
      tags:
      - Instructions
      summary: List cash withdrawal instructions for a customer
      description: This operation returns a paginated list of all cash withdrawal
        instructions created for a customer.
      operationId: ListCashAccountWithdrawalInstructions__V1
      parameters:
      - name: createdBefore
        in: query
        schema:
          type: string
          format: date
          nullable: true
      - name: createdAfter
        in: query
        schema:
          type: string
          format: date
          nullable: true
      - name: updatedBefore
        in: query
        schema:
          type: string
          format: date
          nullable: true
      - name: updatedAfter
        in: query
        schema:
          type: string
          format: date
          nullable: true
      - name: currencyCode
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CurrencyCode'
      - name: amount
        in: query
        schema:
          minimum: 0
          type: number
          nullable: true
      - name: payoutInstructionStatus
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CashInstructionStatus'
      - name: cashInstructionReference
        in: query
        schema:
          minLength: 1
          type: string
          nullable: true
      - name: platformId
        in: query
        schema:
          type: string
          format: uuid
          nullable: true
      - name: productAccountId
        in: query
        schema:
          type: string
          format: uuid
          nullable: true
      - name: customerId
        in: query
        schema:
          type: string
          format: uuid
          nullable: true
      - name: payoutInstructionId
        in: query
        schema:
          type: string
          format: uuid
          nullable: true
      - name: firstName
        in: query
        schema:
          minLength: 1
          type: string
          nullable: true
      - name: lastName
        in: query
        schema:
          minLength: 1
          type: string
          nullable: true
      - name: accountName
        in: query
        schema:
          minLength: 1
          type: string
          nullable: true
      - name: paginatedProperty
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CashAccountInstructionPaginatedProperty'
      - name: take
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: The number of records to return for pagination
          format: int32
          nullable: true
      - name: skip
        in: query
        schema:
          minimum: 0
          type: integer
          description: The number of records to skip for pagination
          format: int32
          nullable: true
      - name: orderAscDesc
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/OrderAscDesc'
          - description: The order in which to sort the paginatedProperty by
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondsmithPage_ExternalCashAccountInstructionResponse_'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/product/{productId}:
    get:
      tags:
      - Customers
      summary: Get customers by product
      description: Get all customers who have an account for a given product
      operationId: GetCustomersByProduct__V1_1
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: string
          description: The unique identifier for the savings product
          format: uuid
      - name: paginatedProperty
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CustomerPaginatedProperty'
      - name: balanceThreshold
        in: query
        schema:
          type: number
          nullable: true
      - name: take
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: The number of records to return for pagination
          format: int32
          nullable: true
      - name: skip
        in: query
        schema:
          minimum: 0
          type: integer
          description: The number of records to skip for pagination
          format: int32
          nullable: true
      - name: orderAscDesc
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/OrderAscDesc'
          - description: The order in which to sort the paginatedProperty by
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondsmithPage_ExternalMinimalCustomerResponse_'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/{customerId}:
    get:
      tags:
      - Customers
      summary: Get a customer
      description: "This operation returns the details of a customer, looked up using\
        \ the unique ID."
      operationId: GetCustomer__V1_1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalCustomerResponseV1_1'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    put:
      tags:
      - Customers
      summary: Update a Customer
      description: Updates all of a customer's data using their customer ID
      operationId: UpdateCustomer__V1_1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequestV1_1'
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    patch:
      tags:
      - Customers
      summary: Patch a customer
      description: Update some of a customer's data using their customer ID
      operationId: PatchCustomer__V1_1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCustomerRequest'
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/{customerId}/accounts:
    get:
      tags:
      - Savings
      summary: List customer balances
      description: "This operation returns a paginated list of all savings accounts\
        \ a customer has deposits with, as well as their available balance and invested\
        \ balance."
      operationId: ListCustomerSavingsAccounts__V1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/CustomerUid'
          - description: The unique identifier for the customer returned from the
              create customer endpoint
      - name: taxWrapper
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/TaxWrapper'
          - description: Return savings accounts with the specified tax wrapper
      - name: currency
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CurrencyCode'
          - description: Return savings accounts in the specified currency
      - name: balanceMin
        in: query
        schema:
          type: number
          description: Return savings accounts with a balance above this value
          nullable: true
      - name: balanceMax
        in: query
        schema:
          type: number
          description: Return savings accounts with a balance below this value
          nullable: true
      - name: startDate
        in: query
        schema:
          type: string
          description: Return savings accounts created after this date
          format: date
          nullable: true
      - name: endDate
        in: query
        schema:
          type: string
          description: Return savings accounts created before this date
          format: date
          nullable: true
      - name: paginatedProperty
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CustomerAccountPaginatedProperty'
          - description: The property to sort the response by
      - name: take
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: The number of records to return for pagination
          format: int32
          nullable: true
      - name: skip
        in: query
        schema:
          minimum: 0
          type: integer
          description: The number of records to skip for pagination
          format: int32
          nullable: true
      - name: orderAscDesc
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/OrderAscDesc'
          - description: The order in which to sort the paginatedProperty by
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSavingsAccountBalanceResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/{customerId}/accounts/{savingsAccountId}:
    get:
      tags:
      - Savings
      summary: Get customer savings account
      description: This operation returns a single savings account for the customer
      operationId: GetAccount__V1_1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/CustomerUid'
          - description: The unique identifier for the customer
      - name: savingsAccountId
        in: path
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/ProductAccountUid'
          - description: The unique identifier for the customer's savings account
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerSavingsAccountResponseV1_1'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/{customerId}/accounts/{savingsAccountId}/fscs-rate-history:
    get:
      tags:
      - Savings
      summary: Get bank sweep rate history
      description: This operation returns a paginated list of interest rates and FSCS
        protection amounts for savings accounts created under the Bank Sweep service
      operationId: ListRateFscsHistory__V1_1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/CustomerUid'
          - description: The unique identifier for the customer
      - name: savingsAccountId
        in: path
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/ProductAccountUid'
          - description: The unique identifier for the customer's savings account
      - name: onOrAfterDate
        in: query
        schema:
          type: string
          format: date
          nullable: true
      - name: beforeDate
        in: query
        schema:
          type: string
          format: date
          nullable: true
      - name: paginatedProperty
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/RateAndFscsPaginatedProperty'
      - name: take
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: The number of records to return for pagination
          format: int32
          nullable: true
      - name: skip
        in: query
        schema:
          minimum: 0
          type: integer
          description: The number of records to skip for pagination
          format: int32
          nullable: true
      - name: orderAscDesc
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/OrderAscDesc'
          - description: The order in which to sort the paginatedProperty by
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondsmithPage_ExternalRateFscsHistoryResponse_'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/{customerId}/accounts/{savingsAccountId}/instructions:
    post:
      tags:
      - Instructions
      summary: Create instruction for a savings account
      description: This operation creates an operation for a specific savings account
      operationId: CreateInstructionForSavingsAccount__V1_1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: savingsAccountId
        in: path
        required: true
        schema:
          type: string
          description: The unique identifier of the savings account
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstructionRequestV1_1'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructionResponseV1_1'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/{customerId}/accounts/{savingsAccountId}/transactions:
    get:
      tags:
      - Savings
      summary: List transactions
      description: "This operation returns a paginated list of all transactions, including\
        \ deposits, withdrawals, interests payments, and maturity payments associated\
        \ with a specific savings account."
      operationId: ListSavingsAccountTransactions__V1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/CustomerUid'
          - description: The unique identifier for the customer
      - name: savingsAccountId
        in: path
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/ProductAccountUid'
          - description: The unique identifier for the savings account
      - name: amountMin
        in: query
        schema:
          type: number
          description: The minimum amount filtering records. Only records of an amount
            greater than this will be included in the response
          nullable: true
      - name: amountMax
        in: query
        schema:
          type: number
          description: The maximum amount filtering records. Only records of an amount
            less than this will be included in the response
          nullable: true
      - name: startDate
        in: query
        schema:
          type: string
          description: The start date for filtering records. Only records created
            on or after this date will be included in the response
          format: date
          nullable: true
      - name: endDate
        in: query
        schema:
          type: string
          description: The end date for filtering records. Only records created on
            or before this date will be included in the response
          format: date
          nullable: true
      - name: paginatedProperty
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/AccountEventPaginatedProperty'
          - description: The property to sort the transactions by
      - name: take
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: The number of records to return for pagination
          format: int32
          nullable: true
      - name: skip
        in: query
        schema:
          minimum: 0
          type: integer
          description: The number of records to skip for pagination
          format: int32
          nullable: true
      - name: orderAscDesc
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/OrderAscDesc'
          - description: The order in which to sort the paginatedProperty by
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondsmithPage_ExternalAccountTransactionsResponse_'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/{customerId}/accounts/{savingsAccountId}/transactions/{transactionId}:
    get:
      tags:
      - Savings
      summary: Get transaction
      description: "Returns details of a transaction, given a transaction id"
      operationId: GetSavingsAccountTransaction__V1_1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/CustomerUid'
          - description: The unique identifier for the customer
      - name: savingsAccountId
        in: path
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/ProductAccountUid'
          - description: The unique identifier for the customer's savings account
      - name: transactionId
        in: path
        required: true
        schema:
          type: string
          description: The unique identifier for the transaction
          format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTransactionsResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/{customerId}/documents:
    get:
      tags:
      - Customers
      summary: List customer documents
      description: This operation returns a list of details about the customer's documents.
      operationId: ListCustomerDocuments__V1_1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: toDate
        in: query
        schema:
          type: string
          format: date
          nullable: true
      - name: fromDate
        in: query
        schema:
          type: string
          format: date
          nullable: true
      - name: documentType
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/InternalDocumentType'
      - name: paginatedProperty
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CustomerDocumentPaginatedProperty'
      - name: take
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: The number of records to return for pagination
          format: int32
          nullable: true
      - name: skip
        in: query
        schema:
          minimum: 0
          type: integer
          description: The number of records to skip for pagination
          format: int32
          nullable: true
      - name: orderAscDesc
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/OrderAscDesc'
          - description: The order in which to sort the paginatedProperty by
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondsmithPage_ExternalCustomerDocumentResponseV1_1_'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/{customerId}/documents/{documentId}:
    get:
      tags:
      - Customers
      summary: Get customer document
      description: This operation returns a presigned URL to download the customer's
        document
      operationId: GetCustomerDocument__V1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: documentId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DocumentUrlResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/{customerId}/holdings:
    get:
      tags:
      - Savings
      summary: Get a customer's holdings
      description: This operation returns a customer's current holdings.
      operationId: GetHoldings__V1_1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/CustomerUid'
          - description: The unique identifier for the customer
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HoldingsResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/{customerId}/instructions:
    get:
      tags:
      - Instructions
      summary: List instructions for a customer
      description: This operation returns a paginated list of all instructions created
        for a customer.
      operationId: ListInstructionsForCustomer__V1_1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: productId
        in: query
        schema:
          type: string
          format: uuid
          nullable: true
      - name: bankId
        in: query
        schema:
          type: string
          format: uuid
          nullable: true
      - name: instructionType
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/OrderType'
      - name: instructionStatus
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/InstructionStatusV1_1'
      - name: createdFrom
        in: query
        schema:
          type: string
          format: date
          nullable: true
      - name: createdTo
        in: query
        schema:
          type: string
          format: date
          nullable: true
      - name: paginatedProperty
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/ExternalProductOrderPaginatedProperty'
      - name: take
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: The number of records to return for pagination
          format: int32
          nullable: true
      - name: skip
        in: query
        schema:
          minimum: 0
          type: integer
          description: The number of records to skip for pagination
          format: int32
          nullable: true
      - name: orderAscDesc
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/OrderAscDesc'
          - description: The order in which to sort the paginatedProperty by
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondsmithPage_ExternalInstructionResponseV1_1_'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Instructions
      summary: Create an instruction
      description: This operation submits an instruction.
      operationId: CreateInstruction__V1_1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InstructionRequestV1_1'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructionResponseV1_1'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/{customerId}/instructions/batch:
    post:
      tags:
      - Instructions
      summary: Create instructions
      description: "This operation submits a number of instructions, grouped in a\
        \ batch."
      operationId: CreateInstructions__V1_1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchInstructionRequestV1_1'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchInstructionResponseV1_1'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/{customerId}/instructions/{instructionId}:
    get:
      tags:
      - Instructions
      summary: Get an instruction
      description: "This operation returns the details of an instruction, looked up\
        \ by the unique ID."
      operationId: GetInstruction__V1_1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: instructionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructionResponseV1_1'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    delete:
      tags:
      - Instructions
      summary: Cancel an instruction
      description: "This operation cancels an instruction, looked up by the unique\
        \ ID."
      operationId: Instruction__V1_1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: instructionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InstructionCancellationResponseV1_1'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/{customerId}/instructions/{instructionId}/cash:
    get:
      tags:
      - Instructions
      summary: Get a cash withdrawal instruction
      description: "This operation returns a the details of a cash instruction, looked\
        \ up by the unique ID."
      operationId: GetCashAccountWithdrawalInstruction__V1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: instructionId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CashAccountInstructionResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/{customerId}/notes:
    get:
      tags:
      - Customers
      summary: List customer notes
      description: This operation returns a list of notes for the customer
      operationId: GetNotes__V1_1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/NoteResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Customers
      summary: Create a new note for a customer
      description: This operation creates a new note for a customer
      operationId: CreateNote__V1_1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NoteRequest'
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/{customerId}/payment-account:
    get:
      tags:
      - Payment Accounts
      summary: Get payment account
      description: This operation returns customer's payment account details.
      operationId: GetPaymentAccountDetails__V1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          description: The unique identifier of the customer
          format: uuid
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAccountDetailResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/{customerId}/payment-account/transactions:
    get:
      tags:
      - Payment Accounts
      summary: Get transactions
      description: This operation returns a paginated list of a customer's payment
        account transactions.
      operationId: ListPaymentAccountTransactions__V1_1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          description: The unique identifier of the customer
          format: uuid
      - name: paginatedProperty
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CustomerPaymentPaginatedProperty'
      - name: take
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: The number of records to return for pagination
          format: int32
          nullable: true
      - name: skip
        in: query
        schema:
          minimum: 0
          type: integer
          description: The number of records to skip for pagination
          format: int32
          nullable: true
      - name: orderAscDesc
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/OrderAscDesc'
          - description: The order in which to sort the paginatedProperty by
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondsmithPage_ExternalPaymentAccountTransactionResponseV1_1_'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/{customerId}/payment-account/withdrawal:
    post:
      tags:
      - Payment Accounts
      summary: Request cash withdrawal
      description: This operation makes a cash withdrawal request from the customer's
        payment account to their own bank account. Cash withdrawal instructions will
        be sent using Faster Payments and should reach the customer within 2 hours
      operationId: MakeWithdrawalRequest__V1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          description: The unique identifier of the customer
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentAccountWithdrawalRequest'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentAccountWithdrawalResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/customers/{customerId}/people:
    post:
      tags:
      - Customers
      summary: Create beneficial owners and link to a customer
      description: Creates new Ultimate Beneficial Owners (UBOs) and links them to
        the customer with a given `customerId`. This operation currently only works
        for Legal Entity customer types
      operationId: CreatePeopleForCustomer__V1_1
      parameters:
      - name: customerId
        in: path
        required: true
        schema:
          type: string
          format: uuid
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LinkedPeopleRequestV1_1'
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/products:
    get:
      tags:
      - Savings
      summary: List savings products
      description: This operation returns a paginated list of all available savings
        products.
      operationId: ListAllSavingsProducts__V1_1
      parameters:
      - name: productId
        in: query
        schema:
          type: string
          description: The unique identifier of the savings product
          format: uuid
          nullable: true
      - name: name
        in: query
        schema:
          type: string
          description: The name of the savings product
          nullable: true
      - name: productType
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/ProductType'
          - description: The type of savings product e.g. easy access or fixed term
      - name: bankId
        in: query
        schema:
          type: string
          description: The unique identifier of the bank
          format: uuid
          nullable: true
      - name: taxWrapper
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/TaxWrapper'
          - description: The tax wrappers the savings product is eligible to be held
              within
      - name: depositRequirementMin
        in: query
        schema:
          type: number
          description: The minimum deposit required to open the savings product
          nullable: true
      - name: depositRequirementMax
        in: query
        schema:
          type: number
          description: The maximum deposit that can be made into the savings product
          nullable: true
      - name: accountHolderType
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/AccountHolderType'
          - description: The types of customers eligible for the savings product
      - name: paginatedProperty
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/BankProductPaginatedProperty'
          - description: The product to sort the returned savings products by
      - name: take
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: The number of records to return for pagination
          format: int32
          nullable: true
      - name: skip
        in: query
        schema:
          minimum: 0
          type: integer
          description: The number of records to skip for pagination
          format: int32
          nullable: true
      - name: orderAscDesc
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/OrderAscDesc'
          - description: The order in which to sort the paginatedProperty by
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondsmithPage_ExternalProductResponseV1_1_'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/products/{productId}:
    get:
      tags:
      - Savings
      summary: Get a savings product
      description: This operation returns the details of a savings product.
      operationId: GetSavingsProduct__V1_1
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/PlatformProductUid'
          - description: The unique identifier for the savings product
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductResponseV1_1'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/products/{productId}/summary:
    get:
      tags:
      - Savings
      summary: Get summary box content
      description: This operation returns the content of a summary box for the savings
        product in the BCOBS 2.2A.1R format. This endpoint enables you to display
        the contents of the summary box in HTML rather than relying on the PDF
      operationId: GetSavingsProductSummaryBox__V1_1
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          allOf:
          - $ref: '#/components/schemas/PlatformProductUid'
          - description: The unique identifier for the savings product
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryBoxResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/webhooks:
    get:
      tags:
      - Webhooks
      summary: Get subscribed webhooks
      description: Returns a list of all webhooks that you're subscribed to.
      operationId: GetSubscribedWebhooks__V1
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Webhook'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Webhooks
      summary: Subscribe to webhooks
      description: "Subscribes to one or more webhooks. You may subscribe to the same\
        \ webhook multiple times with different URLs. Subscribing to a webhook with\
        \ a URL you're already subscribed to is an idempotent operation. Note: VERSION_1_2\
        \ webhooks are currently under development and may require Bondsmith to subscribe\
        \ on your behalf"
      operationId: SubscribeToWebhooks__V1_1
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/WebhookSubscriptionRequest'
        required: true
      responses:
        "200":
          description: Success
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.1/webhooks-reference/cash_account_payout_failed:
    post:
      tags:
      - Webhooks (Reference only)
      summary: CASH_ACCOUNT_PAYOUT_FAILED
      description: "Sent when a cash withdrawal has failed, for example if the recipient\
        \ bank rejects the payment"
      operationId: CashAccountTransactionFailedWebhookEvent__V1
      responses:
        "200":
          description: CashAccountTransactionFailedWebhookEvent__V1 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerWebhookRequest_WebhookPayoutFailedResponse_'
  /v1.1/webhooks-reference/cash_account_transaction_complete:
    post:
      tags:
      - Webhooks (Reference only)
      summary: CASH_ACCOUNT_TRANSACTION_COMPLETE
      description: (Deprecated - use CASH_TRANSACTION instead) Sent when a cash deposit
        or withdrawal has been processed
      operationId: CashAccountTransactionCompletionWebhookEvent__V1
      responses:
        "200":
          description: CashAccountTransactionCompletionWebhookEvent__V1 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerWebhookRequest_WebhookPayoutCompleteResponse_'
  /v1.1/webhooks-reference/cash_transaction:
    post:
      tags:
      - Webhooks (Reference only)
      summary: CASH_TRANSACTION
      description: Sent when a cash deposit or withdrawal has been processed
      operationId: WebhookCashTransactionResponse__V1_1
      responses:
        "200":
          description: WebhookCashTransactionResponse__V1_1 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerWebhookRequest_WebhookCashTransactionResponse_'
  /v1.1/webhooks-reference/customer_data_changed:
    post:
      tags:
      - Webhooks (Reference only)
      summary: CUSTOMER_DATA_CHANGED
      description: "Sent when a customer is created, or existing customer details\
        \ are updated"
      operationId: CustomerDataChangedWebhookEvent__V1
      responses:
        "200":
          description: CustomerDataChangedWebhookEvent__V1 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerWebhookRequest_WebhookCustomerDataChangedResponse_'
  /v1.1/webhooks-reference/customer_document_created:
    post:
      tags:
      - Webhooks (Reference only)
      summary: CUSTOMER_DOCUMENT_CREATED
      description: Sent when a document (e.g. statement or annual tax summary) has
        been generated for the customer
      operationId: CustomerDocumentCreatedWebhookEvent__V1
      responses:
        "200":
          description: CustomerDocumentCreatedWebhookEvent__V1 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerWebhookRequest_WebhookCustomerDocumentCreatedResponse_'
  /v1.1/webhooks-reference/customer_product_account_deposit:
    post:
      tags:
      - Webhooks (Reference only)
      summary: CUSTOMER_PRODUCT_ACCOUNT_DEPOSIT
      description: (Deprecated - use SAVINGS_TRANSACTION instead) Sent when a savings
        deposit has been processed
      operationId: CustomerProductAccountDepositedWebhookEvent__V1
      responses:
        "200":
          description: CustomerProductAccountDepositedWebhookEvent__V1 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerWebhookRequest_WebhookCustomerProductOrderResponse_'
  /v1.1/webhooks-reference/customer_product_account_withdrawal:
    post:
      tags:
      - Webhooks (Reference only)
      summary: CUSTOMER_PRODUCT_ACCOUNT_WITHDRAWAL
      description: (Deprecated - use SAVINGS_TRANSACTION instead) Sent when a savings
        withdrawal has been processed
      operationId: CustomerProductAccountWithdrawalWebhookEvent__V1
      responses:
        "200":
          description: CustomerProductAccountWithdrawalWebhookEvent__V1 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerWebhookRequest_WebhookCustomerProductOrderResponse_'
  /v1.1/webhooks-reference/customer_state_changed:
    post:
      tags:
      - Webhooks (Reference only)
      summary: CUSTOMER_STATE_CHANGED
      description: Sent when a customer's KYC status is changed.
      operationId: CustomerStateChangedWebhookEvent__V1_1
      responses:
        "200":
          description: CustomerStateChangedWebhookEvent__V1_1 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerWebhookRequest_WebhookCustomerStateChangedResponseV1_1_'
  /v1.1/webhooks-reference/instruction_state_changed:
    post:
      tags:
      - Webhooks (Reference only)
      summary: INSTRUCTION_STATE_CHANGED
      description: Sent when an instruction state changes
      operationId: InstructionStateChangedWebhookEvent__V1
      responses:
        "200":
          description: InstructionStateChangedWebhookEvent__V1 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerWebhookRequest_WebhookInstructionStateChangedResponse_'
  /v1.1/webhooks-reference/interest_rate_changed:
    post:
      tags:
      - Webhooks (Reference only)
      summary: INTEREST_RATE_CHANGED
      description: "Sent when a product interest rate is changing. Rate decreases\
        \ will be notified at least 14 days (plus the product notice period, if applicable)\
        \ before they take effect. Rate increases may be effective immediately."
      operationId: InterestRateChangedWebhookEvent__V1_1
      responses:
        "200":
          description: InterestRateChangedWebhookEvent__V1_1 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerWebhookRequest_WebhookRateResponseV1_1_'
  /v1.1/webhooks-reference/interest_realised:
    post:
      tags:
      - Webhooks (Reference only)
      summary: INTEREST_REALISED
      description: (Deprecated - use SAVINGS_TRANSACTION instead) Sent when interest
        has been realised into a customer savings account
      operationId: InterestRealisedWebhookEvent__V1_1
      responses:
        "200":
          description: InterestRealisedWebhookEvent__V1_1 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerWebhookRequest_WebhookInterestRealisedResponse_'
  /v1.1/webhooks-reference/kyc_info_required:
    post:
      tags:
      - Webhooks (Reference only)
      summary: KYC_INFO_REQUIRED
      description: Sent when further documentation is required from the customer for
        KYC purposes
      operationId: KYCInformationRequiredWebhookEvent__V1
      responses:
        "200":
          description: KYCInformationRequiredWebhookEvent__V1 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerWebhookRequest_WebhookKycInfoRequiredResponse_'
  /v1.1/webhooks-reference/nominated_account_changed:
    post:
      tags:
      - Webhooks (Reference only)
      summary: NOMINATED_ACCOUNT_CHANGED
      description: "Sent when a request to change nominated account has been approved\
        \ or rejected. N.B. If you submit a request with the same account details\
        \ as the existing nominated account, any pending change request will be automatically\
        \ rejected."
      operationId: NominatedAccountChangedWebhookEvent__V1
      responses:
        "200":
          description: NominatedAccountChangedWebhookEvent__V1 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerWebhookRequest_WebhookNominatedAccountChangedResponse_'
  /v1.1/webhooks-reference/rejected_transaction:
    post:
      tags:
      - Webhooks (Reference only)
      summary: REJECTED_TRANSACTION
      description: "Sent when an inbound deposit is rejected, for example because\
        \ funds have arrived from a non-nominated account"
      operationId: CustomerRejectedTransactionWebhookEvent__V1
      responses:
        "200":
          description: CustomerRejectedTransactionWebhookEvent__V1 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerWebhookRequest_WebhookRejectedTransactionResponse_'
  /v1.1/webhooks-reference/savings_transaction:
    post:
      tags:
      - Webhooks (Reference only)
      summary: SAVINGS_TRANSACTION
      description: Sent when a savings deposit or withdrawal has been processed
      operationId: WebhookSavingsTransactionResponse__V1_1
      responses:
        "200":
          description: WebhookSavingsTransactionResponse__V1_1 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerWebhookRequest_WebhookSavingsTransactionResponse_'
  /v1.1/webhooks-reference/virtual_account_created:
    post:
      tags:
      - Webhooks (Reference only)
      summary: ACCOUNT_CREATED
      description: Sent when a virtual account has been created for individual customers
      operationId: AccountCreatedWebhookEvent__V1
      responses:
        "200":
          description: AccountCreatedWebhookEvent__V1 200 response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartnerWebhookRequest_WebhookVirtualAccountCreatedResponse_'
  /v1.1/webhooks/{webhookName}:
    delete:
      tags:
      - Webhooks
      summary: Unsubscribe from a webhook
      description: Unsubscribe from the specified webhook. Unsubscribing removes all
        webhooks of that type - if you have multiple URLs subscribed you will need
        to resubscribe those you wish to keep
      operationId: UnsubscribeFromWebhooks__V1_1
      parameters:
      - name: webhookName
        in: path
        required: true
        schema:
          $ref: '#/components/schemas/WebhookEventType'
      responses:
        "200":
          description: Success
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.2/customers:
    get:
      tags:
      - Customers
      summary: List all customers
      description: This operation returns a paginated list of all customers.
      operationId: ListCustomers__V1_2
      parameters:
      - name: customerIds
        in: query
        schema:
          type: array
          description: The customer ids of the customers to be returned
          nullable: true
          items:
            type: string
            description: The unique identifier of the customer
            format: uuid
      - name: verificationStatus
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CustomerStatusV1_1'
          - description: Return only customers in the specified verification statuses
      - name: externalId
        in: query
        schema:
          type: string
          description: Return customer by specifying your own reference that you provided
            in the create customer action
          nullable: true
      - name: createdBefore
        in: query
        schema:
          type: string
          description: Return customers created before this date
          format: date-time
          nullable: true
      - name: createdAfter
        in: query
        schema:
          type: string
          description: Return customers created after this date
          format: date-time
          nullable: true
      - name: accountHolderType
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/AccountHolderTypeV1_2'
          - description: Return customers of the specified account holder types
      - name: paginatedProperty
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CustomerPaginatedProperty'
          - description: The property to sort the response by
      - name: customerName
        in: query
        schema:
          type: string
          description: The name of the customer to return. Does a partial search across
            full name
          nullable: true
      - name: take
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: The number of records to return for pagination
          format: int32
          nullable: true
      - name: skip
        in: query
        schema:
          minimum: 0
          type: integer
          description: The number of records to skip for pagination
          format: int32
          nullable: true
      - name: orderAscDesc
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/OrderAscDesc'
          - description: The order in which to sort the paginatedProperty by
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondsmithPage_ExternalCustomerResponseV1_2_'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
    post:
      tags:
      - Customers
      summary: Create a new customer
      description: |
        Creates a new customer. To create a customer relating to an individual, specify an `accountHolderType` of `INDIVIDUAL` and provide the "person" attribute. For a joint account, specify an `accountHolderType` of `JOINT` and provide both the "person" and "additionalPerson" attributes.
        For companies, trusts or charities, specify an accountHolderType of `CORPORATE`, `SME`, `CHARITY` or `TRUST`, and provide the "legalEntity" attribute. Where Bondsmith is performing the KYC, the customer will be in a PENDING state until the necessary KYC checks have been performed.
      operationId: CreateCustomer__V1_2
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRequestV1_2'
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ExternalBatchCustomerInstructionResponse'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.2/customers/external/{externalRef}:
    get:
      tags:
      - Customers
      summary: Get a customer by an external reference
      description: "This operations returns the details of a customer, look up using\
        \ an external reference."
      operationId: GetCustomerByExternalRef__V1_2
      parameters:
      - name: externalRef
        in: path
        required: true
        schema:
          type: string
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerDetailsResponseV1_2'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.2/customers/holdings:
    get:
      tags:
      - Savings
      summary: Get holdings of many customers in many currencies
      description: This operations returns current holdings for many customers in
        any currency and account type
      operationId: ListCustomersHoldings__V1_2
      parameters:
      - name: customerIds
        in: query
        schema:
          type: array
          nullable: true
          items:
            type: string
            description: The unique identifier of the customer
            format: uuid
      - name: currencies
        in: query
        required: true
        schema:
          minItems: 1
          type: array
          items:
            $ref: '#/components/schemas/CurrencyCode'
      - name: accountTypes
        in: query
        required: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/PaymentAccountType'
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CurrencyHoldingsResponseV1_2'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.2/customers/instructions:
    get:
      tags:
      - Instructions
      summary: List all instructions
      description: This operation returns a paginated list of all instructions
      operationId: ListInstructions__V1_2
      parameters:
      - name: productId
        in: query
        schema:
          type: string
          format: uuid
          nullable: true
      - name: bankId
        in: query
        schema:
          type: string
          format: uuid
          nullable: true
      - name: instructionType
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/OrderType'
      - name: instructionStatus
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/InstructionStatusV1_1'
      - name: createdFrom
        in: query
        schema:
          type: string
          format: date
          nullable: true
      - name: createdTo
        in: query
        schema:
          type: string
          format: date
          nullable: true
      - name: taxWrapper
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/TaxWrapper'
      - name: paginatedProperty
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/ExternalProductOrderPaginatedProperty'
      - name: take
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: The number of records to return for pagination
          format: int32
          nullable: true
      - name: skip
        in: query
        schema:
          minimum: 0
          type: integer
          description: The number of records to skip for pagination
          format: int32
          nullable: true
      - name: orderAscDesc
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/OrderAscDesc'
          - description: The order in which to sort the paginatedProperty by
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondsmithPage_ExternalInstructionResponseV1_2_'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.2/customers/instructions/cash:
    get:
      tags:
      - Instructions
      summary: List cash withdrawal instructions for a customer
      description: This operation returns a paginated list of all cash withdrawal
        instructions created for a customer.
      operationId: ListCashAccountWithdrawalInstructions__V1_2
      parameters:
      - name: startDate
        in: query
        schema:
          type: string
          format: date
          nullable: true
      - name: endDate
        in: query
        schema:
          type: string
          format: date
          nullable: true
      - name: currency
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CurrencyCode'
      - name: paymentAccountType
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/ExternalPaymentAccountType'
      - name: amountMin
        in: query
        schema:
          minimum: 0
          type: number
          nullable: true
      - name: amountMax
        in: query
        schema:
          minimum: 0
          type: number
          nullable: true
      - name: payoutInstructionStatus
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CashInstructionStatus'
      - name: cashInstructionType
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CashInstructionType'
      - name: cashInstructionReference
        in: query
        schema:
          minLength: 1
          type: string
          nullable: true
      - name: customerId
        in: query
        schema:
          type: string
          format: uuid
          nullable: true
      - name: payoutInstructionId
        in: query
        schema:
          type: string
          format: uuid
          nullable: true
      - name: paginatedProperty
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CashAccountInstructionPaginatedProperty'
      - name: take
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: The number of records to return for pagination
          format: int32
          nullable: true
      - name: skip
        in: query
        schema:
          minimum: 0
          type: integer
          description: The number of records to skip for pagination
          format: int32
          nullable: true
      - name: orderAscDesc
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/OrderAscDesc'
          - description: The order in which to sort the paginatedProperty by
      responses:
        "200":
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BondsmithPage_ExternalCashAccountInstructionResponseV1_2_'
        "400":
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "401":
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "403":
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        "500":
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
  /v1.2/customers/product/{productId}:
    get:
      tags:
      - Customers
      summary: Get customers by product
      description: Get all customers who have an account for a given product
      operationId: GetCustomersByProduct__V1_1_1
      parameters:
      - name: productId
        in: path
        required: true
        schema:
          type: string
          description: The unique identifier for the savings product
          format: uuid
      - name: paginatedProperty
        in: query
        schema:
          nullable: true
          allOf:
          - $ref: '#/components/schemas/CustomerPaginatedProperty'
      - name: balanceThreshold
        in: query
        schema:
          type: number
          nullable: true
      - name: take
        in: query
        schema:
          maximum: 1000
          minimum: 1
          type: integer
          description: The number of records to return for pagination
          format: int32
          nullable: true
      - name: skip
        in: query
        schema:
          minimum: 0
          type: integer
          description: The number of records to skip for pagination
          format: int32
          nullable: true
      - name: orderAscDesc
        in: query
        schema:
          nullable: true
          allOf:
[...]
